<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Trang chủ</a>
        <a class="nav-item nav-link" routerLink="/main/profile">Profile</a>
        <a class="nav-item nav-link float-right" (click)="logout()">Đăng xuất</a>
    </div>
</nav>

<router-outlet></router-outlet>
<div class="text-center mt-4">
    <p>
        <a href="#" target="_top">NALs Test - Võ Văn Hùng</a>
    </p>
    <p>
        <a href="#" target="_top">Nals Test</a>
    </p>
</div>