<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Trang chủ</a>
        <a class="nav-item nav-link" routerLink="/main/account">Danh sách tài khoản</a>
        <a class="nav-item nav-link" routerLink="/main/profile">Profile</a>
        <a href="javascript:void(0)" class="nav-item nav-link float-right" (click)="logout()">Đăng xuất</a>
    </div>
</nav>

<router-outlet></router-outlet>
<div class="text-center mt-4">
    <p>
        <a href="https://github.com/tryit4you/Nals_Test/" target="_top">NALs Test - Võ Văn Hùng</a>
    </p>
    <p>
        <a href="https://nals.vn/en/" target="_top">Nals Test</a>
    </p>
</div>